<html>
  <head>
    <title>TODO app</title>
    <style>
      body {
        background-color: palegoldenrod;
      }
      h1 {
        color: peru;
      }
      p {
        color: rebeccapurple;
      }
    </style>
  </head>
  <body>
    <ul>
      {% for item in data %}
      <li>{{item.description}}</li>
      {% endfor %}
    </ul>
    <form method="POST" action="/todo/create">
      <input type="text" name="description" />
      <input type="submit" value="Create" />
    </form>
  </body>
</html>
