<html>
  <head>
    <title>TODO app</title>
    <style>
      .hidden {
        display: none;
      }
      body {
        background-color: palegoldenrod;
      }
      h1 {
        color: peru;
      }
      p {
        color: rebeccapurple;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 220px;
      }
      li button {
        all: unset;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div id="error" class="hidden">Something went wrong</div>
    <!-- We hide this by deaulf, therefore it is hidden, we show it when a error occurs.-->
    <ul id="todos">
      {% for item in data %}
      <li>
        <input
          class="check-completed"
          type="checkbox"
          data-id="{{item.id}}"
          {%if
          item.completed%}
          checked
          {%
          endif
          %}
        />
        {{item.description}}
        <button
          type="deleteButton"
          data-id="{{item.id}}"
          onclick="deleteItem(this)"
        >
          &times;
        </button>
      </li>
      <!--What does the data.id field set? this for? It sets a porperty on the event Target.dataset equal to ID that we can get later-->
      {% endfor %}
    </ul>
    <form id="form">
      <input type="text" id="description" name="description" />
      <input type="submit" value="Create" />
    </form>
    <script>
      function deleteItem(buttonClicked) {
        const todoId = buttonClicked.dataset["id"];
        console.log("button cliked:", buttonClicked.dataset["id"]);
        fetch("/todo/" + todoId + "/delete", {
          method: "DELETE"
        })
          .then(response => response.json())
          .then(jsonResponse => {
            todoItem = document.getElementById("deleteButton");
            console.log(jsonResponse["id"]);
          });
      }
      const checkboxes = document.querySelectorAll(".check-completed");
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e) {
          console.log("envent", e);
          const todoID = e.target.dataset["id"];
          const newCompleted = e.target.checked;
          fetch("/todo/" + todoID + "/update-checked", {
            method: "POST",
            body: JSON.stringify({
              completed: newCompleted
            }),
            headers: {
              "Content-Type": "application/json"
            }
          });
        };
      }
      const descInput = document.getElementById("description");
      document.getElementById("form").onsubmit = function(event) {
        event.preventDefault(); // block normal submit
        fetch("/todo/create", {
          method: "POST",
          body: JSON.stringify({
            description: descInput.value
          }),
          headers: {
            "Content-Type": "application/json"
          }
        })
          .then(response => response.json())
          .then(jsonResponse => {
            descInput.value = ""; // clear input field on response
            console.log("Response!:", jsonResponse);
            liItem = document.createElement("LI");
            inputThing = document.createElement("input");
            inputThing.type = "checkbox";
            console.log("Trying to append child!", inputThing);
            liItem.prepend(inputThing);
            liItem.innerHTML = jsonResponse["description"];
            document.getElementById("todos").appendChild(liItem);
            document.getElementById("error").className = "hidden"; // hide error on faulty response
          })
          .catch(function() {
            console.log("Error on fetch!");
            document.getElementById("error").className = ""; // show the error message on faulty response
          });
      };
    </script>
  </body>
</html>
